<header>
  <nav class="header-nav">
    {{#if user}}
      <a href="/users/user">TripSync</a>
      <ul>
        <li><a href="/users/logout">Log Out</a></li>
      </ul>
    {{else}}
      <a class="header-title" href="/">TripSync</a>
      <ul>
        <li><a href="/users/login">Login</a></li>
      </ul>
    {{/if}}
  </nav>
</header>