<header>
  <nav>
    <a href={{getUserPath user}}>TripSync</a>
    <ul>
      {{#if user}}
        <li><a href="/users/logout">Log Out</a></li>
      {{else}}
        <li><a href="/users/login">Login</a></li>
      {{/if}}
      <li><a href="/users">Search Users</a></li>
    </ul>
  </nav>
</header>