<header>
  <nav>
    <a href="/">TripSync</a>
    <ul>
      {{#if user}}
        <li><a href="/users/logout">Log Out</a></li>
        <li><a href="/tripFolders">Trip Folders</a></li>
        <li><a href="/users">Search Users</a></li>
      {{else}}
        <li><a href="/users/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>