<div class="folder-links-container">
  <a href="/tripFolders/create">
    <div class="new-folder">
      <span class="material-symbols-outlined folder-icon new-icon">
        add
      </span>New
    </div>
  </a>
  <div class="folder-links">
    <a href="/tripFolders">
      <div class="folder {{#if (equals folderType "home")}}selected{{/if}}">
        <span class="material-symbols-outlined folder-icon" {{#if (equals folderType "home")}}style="font-variation-settings: 'FILL' 1;"{{/if}}>home</span>
        Home      
      </div>
    </a>
    <a href="/tripFolders/private">
      <div class="folder {{#if (equals folderType "private")}}selected{{/if}}">
        <span class="material-symbols-outlined folder-icon" {{#if (equals folderType "private")}}style="font-variation-settings: 'FILL' 1;"{{/if}}>
          lock
        </span>Private
      </div>
    </a>
    <a href="/tripFolders/shared">
      <div class="folder {{#if (equals folderType "shared")}}selected{{/if}}">
        <span class="material-symbols-outlined folder-icon" {{#if (equals folderType "shared")}}style="font-variation-settings: 'FILL' 1;"{{/if}}>
          share
        </span>Shared
      </div>
    </a>
  </div>
</div>