<div class="folder-links-container">
  <a href="/tripFolders/create">
    <div class="new-folder">
      <span class="material-symbols-outlined folder-icon new-icon">
        add
      </span>New
    </div>
  </a>
  <div class="folder-links">
    <a href="/tripFolders/private">
      <div class="folder">
        <span class="material-symbols-outlined folder-icon">
          lock
        </span>Private
      </div>
    </a>
    <a href="/tripFolders/shared">
      <div class="folder">
        <span class="material-symbols-outlined folder-icon">
          share
        </span>Shared
      </div>
    </a>
  </div>
</div>