<div class="container">
  <div class="input-form-container">
    <h1 class="input-form-title">Add File</h1>
    <form
      action="/tripFolders/{{tripFolder.id}}/addFile"
      enctype="multipart/form-data"
      method="POST"
      class="login-form"
    >
      <input
        type="text"
        name="title"
        id="title-input"
        placeholder="File name"
        required
      />
      <input type="date" name="userSetDate" value="{{getDefaultDate}}" />
      <textarea name="description" placeholder="Description"></textarea>
      <input
        class="file-input"
        type="file"
        name="image"
        accept="image/*"
        id="file-upload-input"
        required
      />
      <button class="form-submit-button" type="submit">Add</button>
    </form>
    <div class="form-message">
      <a class="form-link" href="/tripFolders/{{tripFolder.id}}">Return</a>
    </div>
  </div>
</div>