<div class="container">
  <div class="input-form-container">
    <h1 class="input-form-title">Create New Folder</h1>
    <form class="login-form" action="/tripFolders/create" method="POST">
      <input
        type="text"
        name="folderName"
        placeholder="Trip Folder Name"
        required
      />
      <input type="date" name="tripDate" value="{{getDefaultDate}}" required />
      <button class="form-submit-button" type="submit">Create</button>
    </form>
    <div class="form-message">
      <a class="form-link" href="/tripFolders">Return</a>
    </div>
  </div>
</div>