<h2>New Trip Folder Route</h2>
<form action="/tripFolders/create" method="POST">
  <label>Trip Folder Name</label>
  <input type="text" name="folderName" />
  <label>Trip Date</label>
  <input type="date" name="tripDate" />
  <button type="submit">Create</button>
</form>