<h1>{{user.username}}'s Shared Trips</h1>
<form action="/tripFolders/shared" method="GET">
  <label>Folder Name</label>
  <input type="text" name="folderName" value="{{searchOptions.folderName}}" />
  <button type="submit">Search</button>
</form>
<ul>
  {{#each tripFolders}}
    <li><a href="/tripFolders/shared/{{this.id}}">{{this.folderName}}</a></li>
  {{/each}}
</ul>