<div class="container">
  <div class="input-form-container">
    <h1 class="input-form-title">Edit Trip Folder</h1>
    <form
      class="login-form submit-once-form"
      action="/tripFolders/{{tripFolder.id}}?_method=PUT"
      method="POST"
    >
      <input
        type="text"
        name="folderName"
        value="{{tripFolder.folderName}}"
        placeholder="Trip Folder Name"
        required
      />
      <input
        type="date"
        name="tripDate"
        value="{{getDefaultDate tripFolder.tripDate}}"
        placeholder="Trip date"
        required
      />
      <button
        class="form-submit-button submit-once-button"
        type="submit"
      >Update</button>
      <div class="dummy-button hidden form-submit-button">Pending...</div>
    </form>
    <div class="form-message">
      <a class="form-link" href="/tripFolders/{{tripFolder.id}}">Return</a>
    </div>
  </div>
</div>