<h2>Edit Trip Folder</h2>
<form action="/tripFolders/{{tripFolder.id}}?_method=PUT" method="POST">
  <label>Trip Folder Name</label>
  <input type="text" name="folderName" required />
  <label>Trip Date</label>
  <input type="date" name="tripDate" value="{{getDefaultDate}}" required />
  <button type="submit">Update</button>
</form>