.folder-links-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 250px;
}

.folder {
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.folder:hover {
  background-color: var(--nav-hover-background-color);
}

.new-folder {
  width: 150px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--nav-hover-background-color);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-bottom: 3rem;
}

.new-folder:hover {
  background-color: #4c4e51;
}

.folder-links {
  display: grid;
  row-gap: 1rem;
}

.folder-icon {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.new-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.folder-content-container {
  display: flex;
  height: 26rem;
  margin-top: 3rem;
}

.folder-content-background {
  width: 100%;
  background-color: #131314;
  border-radius: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  font-size: 1.7rem;
  padding-right: 12px;
}

.folder-content-background::-webkit-scrollbar {
  width: 12px;
}

.folder-content-background::-webkit-scrollbar-thumb {
  background-color: #4c4e51;
  border-radius: 2rem;
}
