.folder-links-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 250px;
}

.folder {
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.folder:hover {
  background-color: var(--nav-hover-background-color);
}

.new-folder {
  width: 150px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--nav-hover-background-color);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-bottom: 3rem;
}

.new-folder:hover {
  background-color: #4c4e51;
}

.folder-links {
  display: grid;
  row-gap: 1rem;
}

.folder-icon {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.new-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.folder-content-container {
  display: flex;
  height: 26rem;
  margin-top: 3rem;
}

.folder-content-background {
  width: 100%;
  background-color: var(--app-dark-background);
  border-radius: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  font-size: 1.7rem;
}

.folder-content-background::-webkit-scrollbar {
  width: 12px;
}

.folder-content-background::-webkit-scrollbar-thumb {
  background-color: #4c4e51;
  border-radius: 2rem;
}

.trip-folder-page-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.folder-search-form {
  display: flex;
}

.search-input {
  font-size: 0.85rem !important;
  background-color: var(--search-background-color) !important;
  border: none !important;
  border-radius: 2rem !important;
}

.search-input:focus {
  outline: none;
}

.folder-content {
  display: grid;
  margin: 1.25rem 2rem;
  font-size: 1rem;
}

.folders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.folder-list-item {
  padding: 0.5rem;
  border-bottom: 1px solid var(--nav-hover-background-color);
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
}

.ellipsis-overflow {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100%;
}

.folder-name {
  display: flex;
  max-width: 27rem;
}

.folders-list li:first-child {
  border-top: 1px solid var(--nav-hover-background-color);
}

.folder-list-item:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.folder-page-header {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.folder-page-header p {
  margin: 0;
}

.folder-list-icon {
  margin-right: 1rem;
  color: var(--app-secondary-text-color);
}

.user-icon {
  margin-right: 1rem;
}

.folder-list-item p {
  margin: 0;
  display: flex;
  align-items: center;
}

.dimmed {
  color: var(--app-secondary-text-color);
}

.search-symbol {
  margin: 0;
  padding: 0.25rem;
}

.search-form-background {
  width: 100%;
  background-color: var(--search-background-color);
  display: flex;
  border-radius: 2rem;
  padding: 0.1rem;
}

.search-submit {
  border-radius: 2rem;
  border: none;
  background-color: var(--search-background-color);
  color: var(--app-secondary-text-color);
}

.search-submit:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.folder-tree {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.folder-tree-item {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}

.folder-tree-return-link {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0.15rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.folder-tree-return-link:hover {
  background-color: var(--nav-hover-background-color);
}

.chevron-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--app-secondary-text-color);
}

.user-display {
  margin: 0;
  border-bottom: 1px solid var(--nav-hover-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-username {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.add-icon {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.submit-add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  color: var(--app-text-color);
  padding: 0;
}

.submit-add-user:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.add-user-content {
  row-gap: 1rem;
}

.trip-folder-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#filter-form {
  margin: 0;
}

.select-item {
  background-color: inherit;
  color: inherit;
  padding: 0.4rem;
  width: 5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--app-text-color);
  transition: background-color 0.3s ease;
  font-size: inherit;
}

.select-item:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.select-item option {
  background-color: var(--search-background-color);
}

.folder-nav-link-button {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
}

.folder-select-oval {
  margin: 0;
}

.folder-form-submit-button {
  font-size: inherit;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.folder-form-submit-button:hover {
  cursor: pointer;
}

.delete-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.author-name {
  width: calc(100%);
  display: flex;
  align-items: center;
}

.image-icon {
  color: var(--app-warning-color);
}

.trip-file-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.file-info-subtitle {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--app-secondary-text-color);
}

.file-info-subtitle h3 {
  margin: 0;
  font-weight: 400 !important;
}

.uploaded-by {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-by .user-icon {
  margin: 0;
  margin-right: 1rem;
}

.file-show-container {
  display: grid;
  grid-template-columns: 175px 750px 175px;
  justify-content: center;
  min-width: 1100px;
  margin: auto;
  margin-top: 3rem;
}

.file-content-container {
  margin-top: 0 !important;
  background-color: var(--app-dark-background) !important;
}

.file-content-inner-container {
  margin-bottom: 2rem;
  width: 80%;
}

.return-from-file-link {
  justify-self: end;
}

.return-from-file-link .select-oval {
  margin: 0;
}

.return-from-file-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem;
}

.file-link-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-link-buttons a {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
  border-radius: 2rem;
  background-color: var(--nav-select-background-color);
  transition: background-color 0.3s ease;
  padding: 0.25rem 1rem;
}

.file-link-buttons a:hover {
  cursor: pointer;
  background-color: var(--nav-select-hover-background-color);
}

.image-content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 2rem;
}

.image-content img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}

.description-background {
  background-color: var(--search-background-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.description-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.description {
  color: var(--app-secondary-text-color);
  font-size: 0.8rem;
}
