:root {
  --app-font-family: "Hind", sans-serif;
  --app-text-color: rgb(228, 228, 228);
  --app-background-color: #1b1b1b;
  --nav-hover-background-color: #37393b;
  --nav-select-background-color: #004a77;
  --nav-select-hover-background-color: #015d97;
  --nav-select-text-color: #c2e7ff;
  --app-secondary-text-color: rgb(147, 147, 147);
  --app-secondary-background-color: #323232;
  --app-warning-color: #f28b82;
  --app-second-warning-color: #eb4b3d;
  --app-third-warning-color: #f9cbc7;
  --app-fourth-warning-color: #ed6054;
  --app-success-color: #81c995;
}
