<div class="container">
  <div class="input-form-container">
    <h1 class="input-form-title">Forgot Your Password?</h1>
    <h3 class="send-email-instructions">Enter your account email to recieve instructions needed to reset your password</h3>
    {{> errorMessage}}
    {{> successMessage}}
    <form class="login-form" action="/users/sendPasswordResetEmail" method="POST">
      <input type="text" name="email" placeholder="Email" />
      <button class="form-submit-button" type="submit">Send Email</button>
    </form>
    <div class="form-message">
        <a class="form-link" href="/users/login">Cancel</a>
    </div>
  </div>
</div>