<h2>Search Users</h2>
<form action="/users" method="GET">
  <label>Username</label>
  <input type="text" name="username" value="{{searchOptions.username}}" />
  <button type="submit">Search</button>
</form>
<br />
{{#each users}}
  <ul>
    <li>{{this.username}}: {{this.email}}</li>
  </ul>
  {{!-- <a href="/authors/{{this.id}}">View</a> --}}
{{/each}}