<div class="container">
    <div class="login-container">
        <h1 class="input-form-title">Login</h1>
        {{> errorMessage}}
        {{> loginForm formAction="/users/login" loginOrRegister="Log In"}}
        <div class="form-message">
            <span>Don't have an account?</span>
            <a class="form-link" href="/users/register">Sign Up</a>
        </div>
    </div>
</div>  
