<div class="container">
  <div class="login-container">
    <h1 class="input-form-title">Reset Password</h1>
    {{> errorMessage}}
    <form
      class="login-form reset-form"
      action="/users/resetPassword?_method=PUT&user={{user.id}}&token={{token}}"
      method="POST"
    >
      <label>New Password</label>
      <input
        type="password"
        name="newPassword"
        placeholder="Enter Password"
        required
      />
      <label>Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <button class="form-submit-button reset-button" type="submit">Reset Password</button>
    </form>
  </div>
</div>